<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.foodapp.murti">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
    <!-- <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/> -->
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name="com.foodapp.murti.Utils.AppController"
        android:allowBackup="false"
        android:icon="@mipmap/new_logo"

        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.foodapp.murti.Activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.foodapp.murti.Activity.Login"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.foodapp.murti.Activity.SignnUp"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.foodapp.murti.Activity.Navigation"
            android:label="@string/title_activity_navigation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.foodapp.murti.Activity.ForgotPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.foodapp.murti.Activity.Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAxiWg38diByRecN7BVw3i7N4VE93wTRqQ" />

        <activity
            android:name="com.foodapp.murti.Activity.ThankAct"
            android:screenOrientation="portrait" />
        <activity android:name="com.foodapp.murti.Activity.PaymentAct" android:screenOrientation="portrait"></activity>


        <service android:name="com.gcm.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service android:name="com.gcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <receiver android:name=".Utils.MySMSBroadCastReceiver" >
            <intent-filter android:priority="999" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Utils.InstallReferrerReceiver"
            android:exported="true"
            android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

    </application>

</manifest>